<!DOCTYPE html>
<html>
    <head></head>
    <body>
        
        <li><a href="/logout">Logout!</a></li>
        <div id='1'>
            <form action="/file/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="filetoupload"><br>
                <input type="submit">
            
            </form>
        </div>
    </body>
</html>