<div id="1">
    <form action="/dashboard/add" method="POST" enctype="form-data">
        <label for="Doc_name">
            <input type="text" id="doc_name" name="doc_name" placeholder="Doc Name"></label>
        <label for="source">
            <input type="file" id="source" name="source"></label>
        <label for="Date">
            <input type="date" id="Date" name="Date"></label>
        <button type="submit" id="save">Send</button><br>
    </form>
</div>