<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1 class="mt-4">Dashboard</h1>
        <p class="lead mb-3">Welcome <%= user.name %></p><br>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>

        <form action="dashboard/add" method="GET">
            <button type="submit">Add Documents</button>
        </form>
        <br><br>
        <form action="dashboard/refer" method="GET">
            <button type="submit">Refer Documents</button>
        </form>
        <div id="3">
            <form action="/view/view" method="GET">
                <button type="submit" id="view">View Documents</button>
                <h3>Documents:- </h3>
                <ul>
                    <% for(var i=0; i < products.length ; i++) { %>
                    <li><%= products[i].doc_name %></li>
                    <% } %>
                </ul>
            </form>
        </div>
    </body>
</html>