<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1 class="mt-4">Dashboard</h1>
        <p class="lead mb-3">Welcome <%= user.name %></p><br>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
        <br>
        <% include ./partials/messages %>
        <br>
        <form action="dashboard/add" method="GET">
            <button type="submit">Add Documents</button>
        </form>
        <br>
        <form action="dashboard/refer" method="GET">
            <button type="submit">Refer Documents</button>
        </form>
        <br>
        <form action="dashboard/employee" method="GET">
            <button type="submit">Get Employees</button>
        </form>
        <br>
    </body>
</html>