
<head>
    <style>
        body {
            background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BRDf5QkViozx5sck/modern-office-space-with-glass-walls_sldl158ig_thumbnail-full08.png");
            /* The image used */
            background-color: #cccccc;
            /* Used if the image is unavailable */
            height: 650px;
            /* You must set a specified height */
            background-position: center;
            /* Center the image */
            background-repeat: no-repeat;
            /* Do not repeat the image */
            background-size: cover;
            /* Resize the background image to cover the entire container */
            opacity: .9;
        }
        
        .card {
            background-color: ACA5E8;
        }
    </style>
</head>

<body>
    <br><br><br>
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Login</h1>
                <% include ./partials/messages %>
                    <form action="/users/forget" method="POST">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                    </form>
                    <p class="lead mt-4">
                        Remember your password? <a href="/users/login">Login</a>
                    </p>
            </div>
        </div>
    </div>
</body>
