<div id="2">
    <form action="/dashboard/refer" method="POST" enctype="form-data">
        <label for="Doc_name">
            <input type="text" id="doc_name" name="doc_name" placeholder="Doc Name"></label>
        <label for="source">
            <input type="file" id="source" name="source"></label>
        <label for="Date">
            <input type="date" id="Date" name="Date"></label>
        <label for="employee_name">
            <input type="text" id="employee_id" name="employee_id" placeholder="Employee id"></label>
        <label for="comment">
            <input type="text" id="comment" name="comment" placeholder="Comment"></label>
        <br>
        <button type="submit" id="save">Send</button><br>
    </form>
</div><br>