<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1 class="mt-4">Dashboard</h1>
        <p class="lead mb-3">Welcome <%= user.name %></p><br>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
        <div id='1'>
            <form action="/docs/dashboard" method="POST" enctype="form-data">
                <label for="Doc_name">
                    <input type="text" id="Doc_name" name="Doc_name"></label>
                <label for="source">
                    <input type="file" id="source" name="source"></label>
                <label for="Date">
                    <input type="date" id="Date" name="Date"></label>
                <br>
                <button type="submit" id="save">Add</button><br>
            </form>
            <form action="/current/send" method="POST" enctype="form-data">
                <label for="Doc_name">
                    <input type="text" id="Doc_name" name="Doc_name"></label>
                <label for="source">
                    <input type="file" id="source" name="source"></label>
                <label for="Date">
                    <input type="date" id="Date" name="Date"></label>
                <label for="employee_name">
                    <input type="text" id="employee_name" name="employee_name"></label>
                <label for="comment">
                    <input type="text" id="comment" name="comment"></label>
                <br>
                <button type="submit" id="save">Send</button><br>
            </form>
        </div>
        <br>
        <ul>
            <% for(var i=0; i<docs.length; i++) {%>
               <li><%= docs[i].Doc_name %></li>
            <% } %>
        </ul>
    </body>
</html>