
    <style>
        button {
            border: none;
            background-color: transparent;
            font-family: "Lucida Console", "Comic Sans MS";
            letter-spacing: .1em;
        }

        .log {
            background-color: transparent;
            border: none;
            font-family: "Lucida Console", "Comic Sans MS";
            letter-spacing: 0.1em;
        }

        .bt1 {
            background-color: black;
        }
    </style>


    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="/dashboard" class="logo">OfficeMarshall</a>
            <nav id="nav">
                <a style="padding: 0%">
                    <form action="/dashboard/add" method="GET">
                        <button type="submit">Add Documents</button>
                    </form>
                </a>
                <a style="padding: 0%">
                    <form action="/dashboard/refer" method="GET">
                        <button type="submit">Assign Documents</button>
                    </form>
                </a>
                <a style="padding: 0%">
                    <form action="/dashboard/documents" method="GET">
                        <button type="submit">View Documents</button>
                    </form>
                </a>
                <a style="padding: 0%">
                    <form action="/dashboard/employee" method="GET">
                        <button type="submit">Employee List</button>
                    </form>
                </a>
                <a href="/users/logout" class="btn btn-secondary log">Logout</a>
            </nav>
        </div>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

    <div>

        <h1 class="mt-4">Add Documents</h1>
        <p class="lead mb-3">Welcome <%= user.name %>
        </p><br>
        <a href="/dashboard" class="btn btn-secondary">Dashboard</a>
    </div>
    <br>
    <% include ./partials/messages %>
    <hr>
    <h5>Add your Document</h5>
    <hr>
    <div id="1">
        <form action="/dashboard/add" method="POST" enctype="form-data">
            <label for="Doc_name">
            <input type="text" id="doc_name" name="doc_name" placeholder="Enter new Document name"></label>
            <label for="source">
            <input type="file" id="source" name="source" placeholder="Upload new Document (optional)"></label>
            <!-- <label for="Date">
            <input type="date" id="Date" name="Date"></label> -->
            <button type="submit" id="save" class="bt1">Upload Document</button><br>
        </form>
    </div>

