<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Introspect by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <style>
        button {
            border: none;
            background-color: transparent;
            font-family: "Lucida Console", "Comic Sans MS";
            letter-spacing: .1em;
        }
        
        .log {
            background-color: transparent;
            border: none;
            font-family: "Lucida Console", "Comic Sans MS";
            letter-spacing: 0.1em;
        }
        
        form {
            padding: 0px;
            margin: 0px;
            padding-block: 0px;
        }
    </style>
</head>

<body>

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="/dashboard" class="logo">OfficeMarshall</a>
            <nav id="nav">
                <a style="padding:0">
                    <form action="dashboard/add" method="GET">
                        <button type="submit">Add Documents</button>
                    </form>
                </a>
                <a style="padding:0%">
                    <form action="dashboard/refer" method="GET">
                        <button type="submit">Assign Documents</button>
                    </form>
                </a>
                <a style="padding:0%">
                    <form action="dashboard/documents" method="GET">
                        <button type="submit">View Documents</button>
                    </form>
                </a>
                <a style="padding: 0%">
                    <form action="dashboard/employee" method="GET">
                        <button type="submit">Employee List</button>
                    </form>
                </a>
                <a href="/users/logout" class="btn btn-secondary log">Logout</a>
            </nav>
        </div>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

    <br>
    <br>

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h1>OfficeMarshall: <span>A dynamic + fully responsive<br />
					site that meets todays corporative needs!</span></h1>
            <ul class="actions">
                <li><a href="#info" class="button alt">Get Started</a></li>
            </ul>
        </div>
    </section>

    <!-- One -->
    <section id="one">
        <div class="inner">
            <header>
                <h2>Office Marshall</h2>
            </header>
            <p>It is a web-based platform which keeps a record of all the documents floating in an office in a more sophisticated manner keeping track of all the applications and its proceedings made by the concerned employee, therefore reducing the latency in the process making office work more efficient. This project also helps in reducing paperwork and thus making the process eco-friendly.</p>
        </div>
    </section>

    <!-- Three -->
    <section id="three">
        <div class="inner" id="info">
            <article>
                <div class="content">
                    <span class="icon fa-diamond"></span>
                    <header>
                        <h3>Add Documents</h3>
                    </header>
                    <p>Use this feature to add documents to the linked MongoDB database directly so that they can be assigned to any registered employee!</p>
                    <ul class="actions">
                        <li><a href="/dashboard/add" class="button alt">Learn More</a></li>
                    </ul>
                </div>
            </article>
            <article>
                <div class="content">
                    <span class="icon fa-diamond"></span>
                    <header>
                        <h3>Assign Documents</h3>
                    </header>
                    <p>Assign Documents to your collegues of your organization along with a comment regarding what you have done and what you might want her/him to do with that document!</p>
                    <ul class="actions">
                        <li><a href="/dashboard/refer" class="button alt">Learn More</a></li>
                    </ul>
                </div>
            </article>
            <article>
                <div class="content">
                    <span class="icon fa-diamond"></span>
                    <header>
                        <h3>View Documents</h3>
                    </header>
                    <p>Have a look at all the documents that have been sent to You. You may also examine the pathway followed by Any Document that has been added to the database connected with the WebApp!</p>
                    <ul class="actions">
                        <li><a href="/dashboard/documents" class="button alt">Learn More</a></li>
                    </ul>
                </div>
            </article>
        </div>
    </section>
    <!-- Two -->
    <header>
        <h2>&nbsp &nbsp &nbsp &nbsp &nbsp Our Team</h2>
    </header>
    <section id="two">
        <div class="inner">
            <article>
                <div class="content">
                    <header>
                        <h3>Aryaman Shandilya</h3>
                    </header>
                    <div class="image fit">
                        <img src="images/Shandy.jpg" alt="" />
                    </div>
                </div>
            </article>
            <article class="alt">
                <div class="content">
                    <header>
                        <h3>Harsh Manish Ghadiyali</h3>
                    </header>
                    <div class="image fit">
                        <img src="images/Harsh.jpg" alt="" />
                    </div>
                </div>
            </article>
        </div>
    </section>
    <section id="twotwo">
        <div class="inner">
            <article>
                <div class="content">
                    <header>
                        <h3>Nirmal Praveen Suthar</h3>
                    </header>
                    <div class="image fit">
                        <img src="images/Nirmal.jpg" alt="" />
                    </div>
                </div>
            </article>
            <article class="alt">
                <div class="content">
                    <header>
                        <h3>Tilak Agarwal</h3>
                    </header>
                    <div class="image fit">
                        <img src="images/Tilak.jpg" alt="" />
                    </div>
                </div>
            </article>
        </div>
    </section>


    <!-- Footer -->
    <section id="footer">
        <div class="inner">
            <header>
                <h2>Get in Touch</h2>
            </header>
            <form method="get" action="/">
                <div class="field half first">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" />
                </div>
                <div class="field half">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" />
                </div>
                <div class="field">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="6"></textarea>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Send Message" class="alt" /></li>
                </ul>
            </form>
        </div>
    </section>
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">
  
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://github.com/harsh-13/SOC.git">OfficeMarshall</a>
        </div>
        <!-- Copyright -->
  
    </footer>
    <!-- Footer -->

</body>

</html>
