<!DOCTYPE html>

<html>

<head>
    <style>
        body {
            background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BRDf5QkViozx5sck/modern-office-space-with-glass-walls_sldl158ig_thumbnail-full08.png");
            /* The image used */
            background-color: #cccccc;
            /* Used if the image is unavailable */
            height: 650px;
            /* You must set a specified height */
            background-position: center;
            /* Center the image */
            background-repeat: no-repeat;
            /* Do not repeat the image */
            background-size: cover;
            /* Resize the background image to cover the entire container */
            opacity: .9;
        }
        
        .card {
            background-color: ACA5E8;
        }
    </style>
</head>
<br><br><br><br>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center 2019" id="Card">
            <h1> <img src="../circle-cropped.png"></h1>
            <p>Create an account or login</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a
      >
      <a href="/users/login" class="btn btn-success btn-block">Login</a>
        </div>
    </div>
</div>
</div>
</body>

</html>